<!DOCTYPE html>
<html lang="en">
{% load static %}

<head itemscope="" itemtype="http://schema.org/WebSite">
    <title itemprop="name">Vinay Challuru's Profile</title>

    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="Vinay Challuru's Profile">
    <meta name="keywords"
          content="python developer, technical lead, team leadership, project management, azure, mentor, django, agile, manager, architect, system design, chennai,">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
          name="viewport">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- CSS & JS -->
    <link rel="stylesheet" href="{% static 'about/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'about/css/portfolio.css' %}">
    <script src="{% static 'about/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<main role="main" class="flex-shrink-0">
    <div id="snippetContent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
                    <div class="card border-0 shadow"><img src="{% static 'about/images/VC_SquareCut.jpg' %}"
                                                           alt="Vinay Challuru's Pic">
                        <div class="card-body p-1-9 p-xl-5">
                            <div class="mb-4">
                                <h3 class="h4 mb-0 text-primary">Vinay Challuru</h3> <span
                                    class="text-primary">Senior Technical Lead & Software Engineer</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-3">
                                    <a href="mailto:challuru.vinay@gmail.com?subject = Hello!&body = Hello!"><i
                                            class="far fa-envelope display-25 me-3 text-secondary"></i>Email me</a>
                                </li>
                                <li class="mb-3"><a href="https://wa.me/919790369066?text=Hello%20Vinay"><i
                                        class="fab fa-whatsapp display-25 me-3 text-secondary"></i>Whatsapp me</a></li>
                                <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>India</a>
                                </li>
                            </ul>
                            <ul class="social-icon-style2 ps-0">
                                <li><a href="https://github.com/Vinaychalluru" class="rounded-3"><i
                                        class="fab fa-github"></i></a></li>
                                <li><a href="https://twitter.com/vinaychalluru" class="rounded-3"><i
                                        class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/vinaychalluru/" class="rounded-3"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ps-lg-1-6 ps-xl-5">
                        <div class="mb-5 wow fadeIn">
                            <div class="text-start mb-1-6 wow fadeIn">
                                <h3 class="h3 mb-0 text-primary">About Me</h3>
                            </div>
                            <p>Software engineer by Profession. Prudent Investor. Lifelong learner!</p>
                            <p>Familiar with Retail (Purchasing, Logistics and Warehouse management systems), Insurance,
                                Banking and Hospitality industries, I am a curious person constantly learning about
                                Businesses, Technological advancements, Innovative solutions, and Investing Behavior.
                                Built client-oriented product solutions by observing problem patterns and making
                                connections to them</p>
                            <p>I have led and managed Agile teams, instructed trainees and guided them to achieve
                                better</p>
                            <p>I believe anybody can learn anything if they're passionate about it and want to make
                                this world a better place, by helping and being part of those who do</p>
                            <p>9.6 years of industry experience, with 4+ years in team leadership, team management,
                                project planning and project delivery</p>

                        </div>
                        <div class="mb-5 wow fadeIn">
                            <div class="row mt-n4">
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="fa-solid fa-book-open-reader icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Education</h3>
                                            <p class="mb-0">M.S. Software Engineering</p>
                                            <p class="mb-0">VIT University</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="fa-solid fa-laptop-code icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Experience</h3>
                                            <p class="mb-0">10 years in IT Industry</p>
                                            <p class="mb-0">4+ years in Leadership roles</p>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body"><i
                                                class="fa-solid fa-thumbs-up icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Interest</h3>
                                            <p class="mb-0">Revenue generation</p>
                                            <p class="mb-0">Solve Business problems</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wow fadeIn">
                            <div class="text-start mb-1-6 wow fadeIn">
                                <h3 class="h3 mb-0 text-primary">Skills &amp; Experience</h3>
                            </div>
                            <p class="mb-4">Experienced Python developer skilled in Django, Django Rest Framework,
                                Microsoft Azure,
                                and a proficient Linux user</p>
                            <div class="progress-style1">
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6 fw-bold">Python</div>
                                        <div class="col-6 text-end">90%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded-3 mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft"
                                         style="width:90%; background-color: #008080"
                                         aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar">
                                    </div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6 fw-bold">Django</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded-3 mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft"
                                         style="width:80%; background-color: #008080" aria-valuemax="100"
                                         aria-valuemin="0" aria-valuenow="70"
                                         role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6 fw-bold">Azure Iaas</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded-3">
                                    <div class="animated custom-bar progress-bar slideInLeft"
                                         style="width:80%; background-color: #008080"
                                         aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>